nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  width: 100vw;
  height: 50px;

  background-color: black;
  color: white;
}

nav div {
  width: 180px;
  line-height: 50px;
  cursor: pointer;
}
